* {
  margin: 0;
  padding: 0;
}
body{
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

#root {
  position: fixed;
  overflow: hidden;
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.simple-trans-main > div {
  margin-top: 100px;
  cursor: pointer;
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  will-change: transform, opacity;
  text-shadow: 0px 2px 40px #00000020, 0px 2px 5px #00000030;
}

h1{
  text-align: center;
  color: white;
}

p{
  text-align: center;
  color: white;
}

h3{
  text-align: center;
  color: white;
}

.home-container{
  position: relative;
}

.home-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dynamic-text{
  margin-top: 30px;
}

.home-image {
  position: relative;
  width: auto;
  height: 120px;
  display: flex;
  margin: auto;
}

/* resize images */
.home-image img {
    position: absolute;
    width: auto;
    height: 100%;
    border-radius: 50%;
    margin: auto;
    left: 50%;
    margin-left: -70px;
}


.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: grey;
  padding: 10px;
}

.portfolio{
  position: absolute;
  height: 100%;
  width: 100%;
}

.portfolio-text{

}

.contact{
  position: absolute;
}

.about{
  position: absolute;
}

/* If the viewing area is bigger than 1024px */
/* width of my browser is 1199px */
@media screen and (min-width: 1024px) {
  h1{
    text-align: center;
    font-size: 6rem;
    color: white;
  }

  p{
    text-align: center;
    font-size: 3rem;
    color: white;
  }

  .home-image {
    position: relative;
    width: auto;
    height: 260px;
    display: flex;
    margin: auto;
  }

  /* resize images */
  .home-image img {
    position: absolute;
    width: auto;
    height: 100%;
    border-radius: 50%;
    margin: auto;
    left: 50%;
    margin-left: -150px;
  }
}


/* If the viewing area is bigger than 768px and less than 1023px*/
/* font sizing for ipads */
@media screen and (min-width: 768px) and (max-width: 1023px){
  h1{
    text-align: center;
    font-size: 4rem;
    color: white;
  }

  p{
    text-align: center;
    font-size: 2rem;
    color: white;
  }

  .home-image {
    position: relative;
    width: auto;
    height: 200px;
    display: flex;
    margin: auto;
  }

  /* resize images */
  .home-image img {
    position: absolute;
    width: auto;
    height: 100%;
    border-radius: 50%;
    margin: auto;
    left: 50%;
    margin-left: -100px;
  }
  .footer{
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    bottom: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    left: 0; /* Position navbar to start at left hand corner of page*/
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 50px;
  }

  .footer img{
    position: absolute;
    width: auto;
    height: 100%;
    border-radius: 50%;
    top: 0;
    margin-left: -20px;
  }

  .footer-item {
    display:inline-block;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* If the viewing area is bigger than 320px and less than 413px*/
/* font sizing for mobile phones */
@media screen and (min-width: 320px) and (max-width: 413px){
  h1{
    text-align: center;
    font-size: 2rem;
    color: white;
  }

  p{
    text-align: center;
    font-size: 1rem;
    color: white;
  }

  h3{
    text-align: center;
    font-size: 25px;
    color: white;
  }

  .home-image {
    position: relative;
    width: auto;
    height: 100px;
    display: flex;
    margin: auto;
  }

  /* resize images */
  .home-image img {
    position: absolute;
    width: auto;
    height: 100%;
    border-radius: 50%;
    margin: auto;
    left: 50%;
    margin-left: -50px;
  }

  .navbar-item {
    display:inline-block;
    padding-left: 100px;
    padding-right: 100px;

  }

  .footer{
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    bottom: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    left: 0; /* Position navbar to start at left hand corner of page*/
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 50px;
    clear: both;
  }

  .footer img{
    position: absolute;
    width: auto;
    height: 100%;
    border-radius: 50%;
    top: 0;
    margin-left: -20px;
  }

  .footer-item {
    display:inline-block;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* If the viewing area is bigger than 414px and less than 767px*/
/* font sizing for mobile phones */
@media screen and (min-width: 414px) and (max-width: 767px){
  h1{
    text-align: center;
    font-size: 50px;
    color: white;
  }

  p{
    text-align: center;
    font-size: 25px;
    color: white;
  }

  h3{
    text-align: center;
    font-size: 25px;
    color: white;
  }

  .home-image {
    position: relative;
    width: auto;
    height: 100px;
    display: flex;
    margin: auto;
  }

  /* resize images */
  .home-image img {
    position: absolute;
    width: auto;
    height: 100%;
    border-radius: 50%;
    margin: auto;
    left: 50%;
    margin-left: -50px;
  }

  .navbar-item {
    display:inline-block;
    padding-left: 100px;
    padding-right: 100px;

  }

  .footer{
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    bottom: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    left: 0; /* Position navbar to start at left hand corner of page*/
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 50px;
  }

  .footer img{
    position: absolute;
    width: auto;
    height: 100%;
    border-radius: 50%;
    top: 0;
    margin-left: -20px;
  }

  .footer-item {
    display:inline-block;
    padding-left: 20px;
    padding-right: 20px;
  }
}
