* {
  margin: 0;
  padding: 0;
}
body{
  background-color: #4A2FED;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

h1{
  text-align: center;
  color: white;
}

p{
  text-align: center;
  color: white;
}

.root {
  position: relative;
  height: auto;
}

.home-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dynamic-text{
  margin-top: 30px;
}

/* If the viewing area is bigger than 1024px */
/* width of my browser is 1199px */
@media screen and (min-width: 1024px) {
  h1{
    text-align: center;
    font-size: 6rem;
    color: white;
  }

  p{
    text-align: center;
    font-size: 3rem;
    color: white;
  }
}

/* If the viewing area is bigger than 768px and less than 1023px*/
/* font sizing for ipads */
@media screen and (min-width: 768px) and (max-width: 1023px){
  h1{
    text-align: center;
    font-size: 4rem;
    color: white;
  }

  p{
    text-align: center;
    font-size: 2rem;
    color: white;
  }
}
